@font-face {
  font-family: "Young";
  src: local("Young Style"), url("../fonts/Young Style.ttf") format("truetype");
}

.Head {
  font-family: "Young";
  background: linear-gradient(270deg, #00d7b9, #b95dd7 50%, #ffb367 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.leaderMain {
  width: 20%;
}
@media screen and (max-width: 768px){
  .leaderMain{
    width:100%
  }
}
