@font-face {
  font-family: "Digital"; /*Can be any text*/
  src: local("digital-7"), url("../fonts/digital-7.ttf") format("truetype");
}
@font-face {
  font-family: "DigitalI"; /*Can be any text*/
  src: local("digital-7 (italic)"),
    url("../fonts/digital-7 (italic).ttf") format("truetype");
}
@font-face {
  font-family: "DigitalMI"; /*Can be any text*/
  src: local("digital-7 (mono italic)"),
    url("../fonts/digital-7 (mono italic).ttf") format("truetype");
}
@font-face {
  font-family: "DigitalM"; /*Can be any text*/
  src: local("digital-7 (mono)"),
    url("../fonts/digital-7 (mono).ttf") format("truetype");
}
@font-face {
  font-family: "Young"; /*Can be any text*/
  src: local("Young Style"), url("../fonts/Young Style.ttf") format("truetype");
}

* {
  /* background-color: #1d1f20; */
}

.container {
  font-family: "DigitalM";
  font-size: 40px;
  color: red;
}
.buttonText {
  font-family: "Young";
  font-size: 40px;
  margin: 50px;
}
#box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 500px;
  color: white;
  font-size: 2.5rem;
  margin: auto;
  margin-top: 10%;
}
.stopwatch {
  --borderWidth: 6px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}
.stopwatch:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  /* background-size: 300% 300%; */
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
