@font-face {
  font-family: "Digital";
  src: local("digital-7"), url("../fonts/digital-7.ttf") format("truetype");
}
@font-face {
  font-family: "DigitalI";
  src: local("digital-7 (italic)"),
    url("../fonts/digital-7 (italic).ttf") format("truetype");
}
@font-face {
  font-family: "DigitalMI";
  src: local("digital-7 (mono italic)"),
    url("../fonts/digital-7 (mono italic).ttf") format("truetype");
}
@font-face {
  font-family: "DigitalM";
  src: local("digital-7 (mono)"),
    url("../fonts/digital-7 (mono).ttf") format("truetype");
}
@font-face {
  font-family: "Young";
  src: local("Young Style"), url("../fonts/Young Style.ttf") format("truetype");
}

* {
  background-color: #1d1f20;
}
.stopMain {
  width: 90%;
  margin: auto;
}

.container {
  font-family: "DigitalM";
  font-size: 6vw;
  color: white;
}
.buttonText {
  font-family: "Young";
  margin-top: 10%;
  font-size: 4vw;
  background: linear-gradient(270deg, #00d7b9, #b95dd7 50%, #ffb367 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stopwatch {
  margin: 50px auto;
  /* background-color: #1d1f20; */
  border: 7px solid transparent;
  letter-spacing: 1em;
  font-weight: 500;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.demo {
  background-image: linear-gradient(#1d1f20, #1d1f20),
    linear-gradient(270deg, #00d7b9, #b95dd7 50%, #ffb367 100%);
  border-radius: 10px;
  background-repeat: no-repeat;
  background-origin: padding-box, border-box;
  text-align: center;
}

@keyframes highlight {
  100% {
    background-position: 0 0, 0 0;
  }
}

.tiktok {
  font-family: "Young";
  font-size: 4vw;
  margin-left: 3%;
  margin-top:1%;
  background: linear-gradient(270deg, #00d7b9, #b95dd7 50%, #ffb367 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
